@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
*{
    font-family: Lato, sans-serif;
    padding: 0;margin: 0%;
    font-size: 15px;
    font-weight: bold;
}
* {  background-color: blanchedalmond;
    /* font-family: Lato; */
}
.col {float: left;
    width: 50%;
    line-height: 100%;
    padding: 30px 0;
    background-color: aqua;
}
.col1 {float: right;
    width: 20%; 
    height: 100px;  
}
.fot {clear: both;
    text-align:center;
margin-top: 300px;
background-color: brown;}
li{
    float: left;
    width: 25%;
    background-color: brown;
}
ul {
    list-style-type: none;
    background-color: brown;
}
main{
    height: 200px;
    margin-top: 50px;
}
header{
    height: 200px;
    margin-top: 50px;
}
.but2 {float: right;
    width: 20%; 
    height: 100px;}
.but3 {float: right;
        width: 20%; 
        height: 100px;}
.but4 {float: right;
            width: 20%; 
            height: 100px;}
.but1 {float: right;
    width: 20%; 
    height: 100px;}
    img1{
        width: 100px;
        height: 100px;
    }
